*~
.DS_Store
.*.swp
.~lock*
*.pyc
data/india/csv_daily/agmarknet.nic.in/india*.zip
data/india/csv_daily/agmarknet.nic.in/speed*.txt
*.log
*.out
*.thm
*.synctex.gz
*.aux
*.sublime*
team_contacts.txt
*.fdb_latexmk
resources/
